/* PALETTE */
/* pink:  color: rgb(230, 25, 134); */

/*  General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nerko One', cursive;
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
  background-color: #add8e6;
}

/* Utils */

.container {
  max-width: 900px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Header */
header {
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* Game */

/* Footer */
footer {
  font-size: 18px;
}
